<div class="card" *ngFor="let card of cards">

    <div>    

        <div (click)="openCard(card.id)">

            <div class="card-details">
                <h3>{{card.name}}</h3>
            </div>
    
            <div class="card-details">{{card.description}}</div>
    
            <div class="card-details">{{humanizeDueDate(card.dueDate)}}</div>
    
            <div class="card-details">{{getPriority(card.priority)}}</div>

        </div>

        <div class="card-details">
            <select name="move" class="selectMove">
                <option value="0" name="0">Move to:</option>
                <option *ngFor="let list of listsToMove" value="list.id">
                {{list.name}}</option>
            </select>
        </div>

    </div>

</div>

<div *ngIf="cardId != null">
    <app-card-details [cardId]="cardId">
    </app-card-details>
</div>
