.card {
  border: 1px solid lightslategray;
  border-radius: 10px;
  padding-left: 15px;
  margin: 15px;
  height: fit-content;
}

.card-details {
  padding: 5px;
}

.selectMove {
  height: 30px;
  width: 95%;
  margin-bottom: 10px;
}