<div class="card" *ngFor="let card of cards">

    <div class="card-details">
        <h3>{{card.name}}</h3>

        <div class="dropdown">
            <button class="dropbtn">...</button>
              <div class="dropdown-content">
                <input type="button" class="btn ed" name="Ed" value="Edit" (click)="editCard(card)">
                <input type="button" class="btn del" name="Del" value="Delete" (click)="deleteCard(card.id)">
              </div>
        </div>
    </div>

    <div (click)="openCard(card)">
    
        <div class="card-details">{{card.description}}</div>
    
        <div class="card-details">{{humanizeDueDate(card.dueDate)}}</div>
    
        <div class="card-details">{{getPriority(card.priority)}}</div>

    </div>

    <div class="card-details">
        <select name="move" class="selectMove">
            <option value="0" name="0">Move to:</option>
            <option *ngFor="let list of listsToMove" value="list.id">
            {{list.name}}</option>
        </select>
    </div>

</div>

<div *ngIf="card != null && isCardOpened">
    <app-card-details [card]="card">
    </app-card-details>
</div>

<div *ngIf="isEditCard">
    <app-create-card [currentListId]="currentListId" [listNamesWithIds]="listNamesWithIds" [oldCard]="card"></app-create-card>
</div>
