.card {
  border: 2px gainsboro solid;
  border-radius: 10px;
  padding-left: 15px;
  margin: 15px;
  height: fit-content;
}

.card-details {
  display: grid;
  padding: 5px;
  grid-template-columns: 8fr 1fr;
}

.calendar {
  margin: 5px 0px;
}

.priority {
  background-color: rgba(220, 220, 220, 0.533);
  border-radius: 15px;
  text-align: center;
  margin: 5px 2px;
  width: fit-content;
}

.dropdown {
  position:relative;
}

.options {
  padding: 15px;
}

.dropbtn {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  font-size: large;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content .btn {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: 100%;
  text-align: left;
}

.ed {
  border-radius: 5px 5px 0px 0px;
}

.del {
  border-radius: 0px 0px 5px 5px;
}

.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.selectMove {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  font: bold;
  text-align: left;
}

.move {
  padding: 10px 5px;
}