.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.head {
  display: flex;
  flex-direction: row;
}

.name {
  flex: 1;
  padding-left: 10px;
}

.boardsBtn {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px black solid;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  bottom: 5px;
}

.historyBtn {
  position: relative;
  right: 10px;
  top: 30px;
  height: 20px;
}