.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.head {
  display: flex;
  flex-direction: row;
}

.historyBtn {
  position: fixed;
  font-size: 17px;
  border-radius: 5px;
  border: 2px solid gainsboro;
  background-color: white;
  padding: 5px 15px;
  right: 25px;
  top: 30px;
}