.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.head {
  display: flex;
  flex-direction: row;
}

.name {
  flex: 1;
  padding-left: 10px;
}

.historyBtn {
  position: relative;
  right: 10px;
  top: 30px;
  height: 20px;
}