<div class="bg"
    [ngStyle]="{'display': isCreateCardOpened ? 'block' : 'none'}">

    <div class="createCardWindow">

        <div class="header">
            <button class="closeModalBtn" class="closeBtn"><h2>X</h2></button>
        </div>

        <div class="form">

            <div class="field name">
                <input class="cardName" type="text"
                    required minlength="1" maxlength="50" value="New Card">
            </div>

            <div class="field">
                <label for="list-select">List </label>
                <select class="select" id="list-select">
                    <option *ngFor="let list of listNamesWithIds" value="{{list.id}}">{{list.name}}</option>
                </select>
            </div>

            <div class="field dueDate">
                <label for="dueDate">Due Date</label>
                <input class="select" type="date" id="dueDate" name="dueDate">
            </div>

            <div class="field priority">
                <label for="prior-select">Priority</label>
                <select class="select" id="prior-select">
                    <option value="low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
            </div>

            <div class="field">
                <label class="descr" for="descr">Description</label>
                <input class="description" type="text" id="descr" name="descr" required placeholder="Write some information"/>
            </div>

        </div>

        <div class="field">
            <button class="saveBtn">Save</button>
            <button class="cancelBtn">Cancel</button>
        </div>
    </div>

    <!-- <button (click)="createCard">+ Add new card</button> -->
</div>
