<div class="dropdown" *ngIf="!isForRenaming">
    <button class="dropbtn">{{board.name}}</button>
      <div class="dropdown-content">
        <div class="flex-container">
          <input type="button" class="btn ed" name="Ed" value="Rename" (click)="isForRenaming = true">
          <!-- TODO: get rid of ngIf after all done -->
          <input *ngIf="board.id !=1" type="button" class="btn del" name="Del" value="Delete" (click)="deleteBoard()">
        </div>
        <div *ngFor="let board of boards">
            <input type="button" class="btn brd" name="Del" value={{board.name}} (click)="switchBoard(board)">
        </div>
      </div>
</div>

<div class="toRename" *ngIf="isForRenaming">
  <input class="brdName" id="name" value="{{board.name}}" type="text">

  <div class="optionBtns">
    <input (click)="renameBoard()" type="button" id="saveClick" class="optionBtn" value="Save">
    <input (click)="cancel()" type="button" id="cancelClick" class="optionBtn" value="Cancel">
  </div>
</div>