<div class="gridContainer">

    <div *ngFor="let list of lists">
      
      <div class="listControll">
        <b>{{list.name}}</b>
        <b class="listLength">{{list.cards.length}}</b>
        <input type="button" class="listOptionsBtn" value="options">
      </div>

      <div>
        <button class="addCardBtn" (click)="openCreate(list.id)">+ Add new card</button>
      </div>

      <div class="pillar">
        <app-card 
          [currentListId]="list.id"
          [listNamesWithIds]="listNamesWithIds"
          [cards]="list.cards" [lists]="lists"
        ></app-card>
      </div>
      <!-- <div class="empty pillar" *ngIf="lists.length < 4">
        <div *ngFor="let item of emptyLists">
            TODO: add button to create new list if there are not 4 lists
        </div>
      </div> -->
    </div>

  </div>

<app-create-card
  [listNamesWithIds]="listNamesWithIds"
  [ngStyle]="{'display': isCreateCardOpened ? 'block' : 'none'}"
  [currentListId]="listIdForCardCreation"
  [isCreateCardOpened]="isCreateCardOpened">
</app-create-card>

  
<!-- <app-opened-card [isCardOpened]="isCardOpened" [card]="card"
  [ngStyle]="{'visibility': isCardOpened ? 'visible' : 'hidden'}">
</app-opened-card> -->