<div class="gridContainer">

    <div *ngFor="let list of lists">
      
      <div *ngIf="list.isOnEdit === undefined">

        <div class="listControll">
        
          <b>{{list.name}}</b>
          <b class="listLength">{{list.cards.length}}</b>
  
          <div class="dropdown">
            <button class="dropbtn">...</button>
            <div class="dropdown-content">
              <input type="button" class="btn" name="Ed" value="Edit" (click)="list.isOnEdit = true">
              <input type="button" class="btn" name="Del" value="Delete" (click)="deleteList(list.id)">
            </div>
          </div>
          
        </div>
  
        <div>
          <button class="addCardBtn" (click)="openCreateCard(list.id)">+ Add new card</button>
        </div>

      </div>


      <div *ngIf="list.isOnEdit === true">
        <app-edit-list [listName]="list.name" [listId]="list.id"></app-edit-list>
      </div>

      <div class="pillar">
        <app-card [currentListId]="list.id" [listNamesWithIds]="listNamesWithIds" [cards]="list.cards" [lists]="lists"></app-card>
      </div>
      
    </div>

    <div class="empty pillar" *ngFor="let item of getEmptyLists()">
      <app-add-list></app-add-list>
    </div>

  </div>

<app-create-card
  [listNamesWithIds]="listNamesWithIds"
  [ngStyle]="{'display': isCreateCardOpened ? 'block' : 'none'}"
  [currentListId]="listIdForCardCreation">
</app-create-card>
