<div class="gridContainer">

    <div *ngFor="let list of lists">
      
      <div class="listControll">
        <b>{{list.name}}</b>
        <b class="listLength">{{list.cards.length}}</b>

        <!-- TODO: implement here list options (edit, delete list) -->
        <button class="listOptionsBtn">...</button>

        <!-- <div>
          <select name="list-options">
            <option>Options</option>
            <option value="Edit">Edit</option>
            <option value="Delete">Delete</option>
          </select>
        </div> -->
      </div>

      <div>
        <button class="addCardBtn" (click)="openCreate(list.id)">+ Add new card</button>
      </div>

      <div class="pillar">
        <app-card
          [currentListId]="list.id"
          [listNamesWithIds]="listNamesWithIds"
          [cards]="list.cards" [lists]="lists">
        </app-card>

      </div>
      
    </div>

    <div class="empty pillar" *ngFor="let item of getEmptyLists()">
      <app-add-list></app-add-list>
    </div>

  </div>

<app-create-card
  [listNamesWithIds]="listNamesWithIds"
  [ngStyle]="{'display': isCreateCardOpened ? 'block' : 'none'}"
  [currentListId]="listIdForCardCreation"
  [isCreateCardOpened]="isCreateCardOpened">
</app-create-card>

  
<!-- <app-opened-card [isCardOpened]="isCardOpened" [card]="card"
  [ngStyle]="{'visibility': isCardOpened ? 'visible' : 'hidden'}">
</app-opened-card> -->