.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.listControll {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-top: 3px solid rgba(128, 128, 128, 0.616);
  border-bottom: 3px solid rgba(128, 128, 128, 0.616);
}

.listLength {
  margin: 0px 10px;
}

.dropdown {
  margin: 0px 0px;
}

.dropbtn {
  position: relative;
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .btn {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.addCardBtn {
  position: relative;
  left: 5%;
  display: block;
  border-radius: 10px;
  border-style: dashed;
  border-color: lightslategray;
  background-color: rgba(255, 255, 255, 0);
  width: 90%;
  height: 40px;
  font-size: 24px;
}


