<div class="bg" [ngStyle]="{'display': hideBtn ? 'none' : 'block'}">

    <div class="history">
        <div class="header">
            <h2 class="hist">History</h2>
            <button class="closeBtn" (click)="switchHistory()">X</button>
        </div>
    
        <div class="activities" *ngFor="let activity of activities">

            <p><b> • </b>You {{activity.operationName}}ed the <b>{{activity.valueAfter}}</b>
                 to <b>List {{activity.listId}}</b></p>
            <p> {{activity.operationDate}} </p>
            <p *ngIf="activity.valueBefore != ''">valueBefore {{activity.valueBefore}}</p>

        </div>

    </div>
</div>
