<div class="bg" [ngStyle]="{'display': hideBtn ? 'none' : 'block'}">

    <div class="history">
        <div class="header">
            <h2 class="hist">History</h2>
            <button class="closeBtn" (click)="switchHistory()">X</button>
        </div>
    
        <div class="activities">
            <p>You added Card Name to New List (May 15 at 8:30 pm)</p>
            <p>You moved Second Card to Third List (May 3 at 6:20 pm)</p>

            <p>You added Card Name to New List (May 15 at 8:30 pm)</p>
            <p>You moved Second Card to Third List (May 3 at 6:20 pm)</p>
            
            <p>You added Card Name to New List (May 15 at 8:30 pm)</p>
            <p>You moved Second Card to Third List (May 3 at 6:20 pm)</p>
            
            <p>You added Card Name to New List (May 15 at 8:30 pm)</p>
            <p>You moved Second Card to Third List (May 3 at 6:20 pm)</p>
            
            <p>You added Card Name to New List (May 15 at 8:30 pm)</p>
            <p>You moved Second Card to Third List (May 3 at 6:20 pm)</p>
            
            <p>You added Card Name to New List (May 15 at 8:30 pm)</p>
            <p>You moved Second Card to Third List (May 3 at 6:20 pm)</p>
            
            <p>You added Card Name to New List (May 15 at 8:30 pm)</p>
            <p>You moved Second Card to Third List (May 3 at 6:20 pm)</p>
            
            <p>You added Card Name to New List (May 15 at 8:30 pm)</p>
            <p>You moved Second Card to Third List (May 3 at 6:20 pm)</p>
            
        </div>
    </div>
</div>
