<div *ngIf="!isFormOpened" class="listControll">
    <b (click)="openCreateListForm()">Add another list</b>
</div>

<div *ngIf="isFormOpened" class="flexCont">
    <input class="name" id="name" placeholder="Enter list title..." type="text"
        onkeydown = "if (event.keyCode == 13) document.getElementById('addClick').click()">

    <div class="btnsGrid">
        <input (click)="addList()" id="addClick" class="btn" type="button" value="Add list">
        <input (click)="cancel()"  class="btn" type="button" value="Cancel">
    </div>

</div>

