.flexCont {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 13px 10px;
    padding: 10px;
    border-radius: 5px;
}

.btnsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn {
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
}